<div class="sidebar">
  <h3>TMS Navigation</h3>
  <ul>
    <li>
      <a
        routerLink="/tenant-dashboard"
        routerLinkActive="active"
        >🏠 Dashboard</a
      >
    </li>
    <li>
      <a
        routerLink="/tenant-dashboard/register-to-landlord"
        routerLinkActive="active"
        >📝 Register to Landlord</a
      >
    </li>
    <li>
      <a
        routerLink="/tenant-dashboard/view-tenant-profile"
        routerLinkActive="active"
        >👤 View Profile</a
      >
    </li>
    <li>
      <a
        routerLink="/tenant-dashboard/update-tenant-profile"
        routerLinkActive="active"
        >✏️ Update Profile</a
      >
    </li>
  </ul>
</div>
