<div class="form-container">
  <div class="form-box">
    <h2>Register</h2>

    <input type="text" placeholder="Username" [(ngModel)]="registerData.username" />

    <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="registerData.password" />

    <div class="show-password-toggle" (click)="showPassword = !showPassword">
      <span>{{ showPassword ? '🙈 Hide Password' : '👁️ Show Password' }}</span>
    </div>

    <button (click)="onRegister()">Register</button>
  </div>
</div>
